* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden; 
  font-family: serif;
  /*background: url(celine.png);*/
}

img {
  width: 80%;
  border: 1px solid #bf9450;
}

a {
  cursor: pointer;
}

.navlink, .lang {
  cursor: pointer;
}

#root {
  height: 100%;
  width: 100%;
}

.App {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.nav {
  right: 0px;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

.navlist {
  text-align:right;
  list-style: none;
  margin: 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  line-height:2.7em;
  padding-right: 10px;
}

.navlink {
  font-size: 1.2em;
  text-decoration: none;
  color: black;
}

.navlink:hover {
  text-decoration: underline;
}

.contentpanel {
  position: relative;
  top: 50%;
  left: 50%;
  width: 60%;
  max-width: 750px;
  min-width: 500px;
  height: 70%;
  transform: translate(-50%, -50%);
  background-color:rgba(255, 255, 255, 0.8);
  padding: 25px;
  font-size: 40px;
  line-height: 50px;
  /*border: 2px solid black;*/
}

.contenttitlecontainer {
  text-align: center;
  font-family: Times New Roman, Times, serif;
  line-height:0.55em;
  height:20%;
  min-height:100px;
}

.contentceline {
  font-size: 0.65em;
}
.contenttitle { 
  font-size: 0.5em;
}

.contenttext {
  height: 80%;
  font-family: Times New Roman, Times, serif;
  font-size: 0.45em;
  overflow-y: auto;
}

.residents, .contact, .writing {
  text-align: center;
}

.footer {
  position: absolute;
  bottom:0px;
  height: 40px;
  width: 100%;
  color: #E3B368;
  font-family: Times New Roman, Times, serif;
}

.footer p a {
  color: black;
}

#movingtext {
  line-height:40px;
}

#langswitcher {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px;
  font-size: 14px;
  font-family: Times New Roman, Times, serif;
  color: #bf9450;
}

.lang.selected {
  text-decoration: underline;
}

/* Phone Styles */
/* Portrait and Landscape */
@media only screen 
  and (max-width: 736px) { 
  
  .contentpanel {
    /*font-size: 1.7em;*/
    min-width: 300px;
    transform: translate(-50%, -50%);
    background-color:rgba(255, 255, 255, 0.8);
    padding: 25px;
  }

  .App {
    background-size: 50%;
  }

  .contenttitlecontainer {
    line-height:0.55em;
    height:10%;
    min-height:70px;
  }
  
}

/* Portrait */
@media only screen 
  and (max-width: 736px) 
  and (orientation: portrait) { 

  .nav {
    top: 5px;
    position: fixed;
    right: auto;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .navlist {
    text-align:center;
    list-style: none;
    margin: 0 !important;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    line-height:1.5em;
    padding-right: 0px;
  }

  .navlink {
    font-size:1.5em;
    padding: 3px;
    margin: 5px;
  }

  #langswitcher {
    position: absolute;
    top: auto;
    bottom: 40px;
    right: 0px;
    padding: 10px;
    font-family: Helvetica, Arial, sans-serif;
  }
}

/* Landscape */
@media only screen 
  and (max-width: 736px) 
  and (orientation: landscape) { 

  .contentpanel {
      top: 40%;
    }

}