* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden; 
  font-family: serif;
  /*background: url(celine.png);*/
}

img {
  width: 80%;
  border: 1px solid #bf9450;
}

a {
  cursor: pointer;
}

.navlink, .lang {
  cursor: pointer;
}

#root {
  height: 100%;
  width: 100%;
}

.App {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.nav {
  right: 0px;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

.navlist {
  text-align:right;
  list-style: none;
  margin: 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  line-height:1.7em;
  padding-right: 10px;
}

.navlink {
  font-size: 1.5em;
  text-decoration: none;
  color: #bf9450;
}

.contentpanel {
  position: relative;
  top: 50%;
  left: 50%;
  width: 60%;
  max-width: 800px;
  min-width: 500px;
  height: 70%;
  transform: translate(-50%, -50%);
  background-color:rgba(255, 255, 255, 0.8);
  padding: 25px;
  font-size:40px;
  /*border: 2px solid black;*/
}

.contenttitlecontainer {
  text-align: center;
  font-family: sans-serif;
  line-height:0.55em;
  height:20%;
  min-height:100px;
}

.contentceline {
  font-size: 0.65em;
}
.contenttitle { 
  font-size: 0.5em;
}

.contenttext {
  height: 80%;
  font-size: 0.45em;
  overflow-y: auto;
}

.residents, .contact, .writing {
  text-align: center;
}

.footer {
  position: absolute;
  bottom:0px;
  background: #bf9450;
  height: 40px;
  width: 100%;
  font-family: sans-serif;
}

.footer p a {
  color: black;
}

#movingtext {
  line-height:40px;
}

#langswitcher {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px;
}

.lang.selected {
  text-decoration: underline;
}

